{# empty Twig template #}
{% extends "MealSquareCommonBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    Inscription - {{ parent() }}
{% endblock %}

{% block main %}
    <main class="main" role="main">
        <!--wrap-->
        <div class="wrap clearfix">
            <!--row-->
            <div class="row">
                <!--content-->
                <section class="content center full-width wow fadeInUp">
                    <div class="modal container">
                        <h3>{{ 'link_register'|trans({}, 'SonataUserBundle') }} </h3>

                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                            <div class="f-row">
                                {{ form_label(form.username, "Nom d'utilisateur") }}
                                {{ form_widget(form.username) }}
                                <div id="username_info" class="register_info">
                                    <h4>Condition du nom de l'utilisateur :</h4>
                                    <ul>
                                        <li id="letter_2" class="invalid">Contenir au moins <strong>5 caractères</strong></li>
                                    </ul>
                                </div>

                                {{ form_label(form.email, "Adresse e-mail") }}
                                {{ form_widget(form.email) }}
                                <div id="validation_email_info" class="register_info">
                                    <h4>Validation de l'adresse :</h4>
                                    <ul>
                                        <li  id="email" class="invalid">Une adresse email est sous cette forme : nom_adresse_email@gmail.com</li>
                                    </ul>
                                </div>

                                {{ form_label(form.plainPassword.first, "Mot de passe") }} <a id="reveal_password_link" href="#"><i id="reveal_password" class="fa fa-eye" aria-hidden="true"></i></a>
                                {{ form_widget(form.plainPassword.first) }}

                                <div id="pswd_info" class="register_info">
                                    <h4>Conditions du mot de passe pour la sécurité :</h4>
                                    <ul>
                                        <li id="letter" class="invalid">Au moins <strong>1 lettre</strong></li>
                                        <li id="capital" class="invalid">Au moins <strong>1 lettre majuscule</strong></li>
                                        <li id="number" class="invalid">Au moins <strong>1 chiffre</strong></li>
                                        <li id="length" class="invalid">Contenir au moins <strong>8 caractères</strong></li>
                                    </ul>
                                </div>
                                {{ form_label(form.plainPassword.second, "Vérification") }}
                                {{ form_widget(form.plainPassword.second) }}
                                <div id="confirm_pswd_info" class="register_info">
                                    <h4>Confirmation du mot de passe pour la fiabilité :</h4>
                                    <ul>
                                        <li id="match" class="invalid">La confirmation du mot de passe doit correspondre au mot de passe</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="f-row bwrap">
                                <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-success pull-right" disabled="disabled"/>
                           </div>
                            <p>Vous avez déjà un compte ? <a href="{{ path('sonata_user_security_login') }}">{{ 'link_login'|trans({}, 'SonataUserBundle') }}</a></p>
                            
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </section>
                <!--//content-->
            </div>
            <!--//row-->
        </div>
        <!--//wrap-->

    </main>
{% endblock %}
{% block script %}
   <script> new WOW().init(); </script>
   <script type="text/javascript">
        $('#reveal_password_link').click(function(event){
            event.preventDefault();
        });
        $("#reveal_password").mousedown(function() {
            $("#sonata_user_registration_form_plainPassword_first").replaceWith($('#sonata_user_registration_form_plainPassword_first').clone().attr('type', 'text'));
        })
        .mouseup(function() {
            $("#sonata_user_registration_form_plainPassword_first").replaceWith($('#sonata_user_registration_form_plainPassword_first').clone().attr('type', 'password'));
        })
        .mouseout(function() {
            $("#sonata_user_registration_form_plainPassword_first").replaceWith($('#sonata_user_registration_form_plainPassword_first').clone().attr('type', 'password'));
        });
   </script>
{% endblock %}