{# empty Twig template #}
{% extends "MealSquareCommonBundle::layout.html.twig" %}

{% block title %}
    {{ 'common.menu.recettes'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <main class="main" role="main">
        <div class="wrap clearfix">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="{{path('meal_square_common_homepage')}}" title="{{ 'common.menu.home'|trans }}">{{ 'common.menu.home'|trans }}</a></li>
                    <li>{{ 'common.menu.recettes'|trans }}</li>
                </ul>
            </nav>
	        <div class="row">
	        	<header class="s-title">
	                <h1>{{ 'recettes.import'|trans({},'messages') }}</h1>
	                <main class="cd-main-content">
		                <h2 class="ribbon bright">{{ 'recettes.import_recipe_detail'|trans }}</h2>
	                    <div id="jsGrid-recette"></div>
	                	<a href="#" id="insertion" class="button medium" style="margin-top:10px;float:right">{{ 'recettes.import_insertion'|trans }}</a>
	                	<div id="container_ingredients" style="margin-top:60px;display:none;">
	                		<h2 class="ribbon bright">{{ 'recettes.import_ingredient_detail'|trans }}</h2>
	                		<div id="jsGrid-ingredient"></div>
	                	</div>
                    	<div id="container_section_step" class="container_section_step" style="display:none; margin-top:30px">
                    		<h2 class="ribbon bright">{{ 'recettes.import_step'|trans }}</h2>
		                	<div id="container-sortable" class="container">   
	                            <ol id="section_step" class='sortable'></ol>
	                            <div class="f-row full">
	                                <a id="add-section" class="button add">{{ 'form.add.add_section'|trans({},'messages') }}</a>
	                                <a id="add-step" class="button add">{{ 'form.add.add_step'|trans({},'messages') }}</a>
	                                <a id="validation" class="button add" value="nom_recette">Valider</a>
	                            </div>
		                	</div>
	                	</div>
	                </main>
	            </header>
	        </div>
	    </div>
    </main>
{% endblock %}
{% block script %}
    <script charset="UTF-8"> 
        new WOW().init();

        var recettes = [], ingredients = [], addIngredient = [], addSectionStep = [], ingredientField = [];

       	var ingredientsListe = "{{ ingredients|join(',') }}".split(",");
	    for ( var i=0;i<ingredientsListe.length-1;i++ ) {
			ingredientField[i] = { Name: ingredientsListe[i]};
	    }

	    var saisons = [
	    	{ Name: "Printemps"},
	    	{ Name: "Été"},
	    	{ Name: "Automne"},
	    	{ Name: "Hiver"}
	    ];

	    var difficultes = [
	    	{ Name: "Très facile"},
	    	{ Name: "Facile"},
	    	{ Name: "Moyen"},
	    	{ Name: "Difficile"},
	    	{ Name: "Délicat"}
	    ];

	    var specialite = [
	    	{Name: 'Saint-Valentin'},
	    	{Name: 'Recettes anglo-saxonne'},
	    	{Name: 'Chic et facile'},
	    	{Name: 'Recettes méditerranéennes'},
	    	{Name: 'Spécialités antillaises'},
	    	{Name: 'Exotique'},
	    	{Name: 'Recettes de Chef'},
	    	{Name: 'Pâques'},
	    	{Name: 'Provence'},
	    	{Name: 'Orientale'},
	    	{Name: 'Repas de fête'},
	    	{Name: 'Cuisine légère'},
	    	{Name: 'Cuisine rapide'},
	    	{Name: 'Mardi Gras'},
	    	{Name: 'Asie'},
	    	{Name: 'Nordique'},
	    	{Name: 'Bretagne'},
	    	{Name: 'Sud-ouest'},
	    	{Name: 'Spécialités ibériques'},
	    	{Name: 'Normandie'},
	    	{Name: 'Thanksgiving'},
	    	{Name: 'Auvergne'},
	    	{Name: 'Halloween'},
	    	{Name: 'Recettes américaines'},
	    	{Name: 'Pentecôte'}
	    ];

	    var type = [
	    	{Name: 'Dessert'},
	    	{Name: 'Végétarien'},
	    	{Name: 'Enfant'},
	    	{Name: 'Salade'},
	    	{Name: 'Pizza'}
	    ];

	    var mesure = [
	    	{Name: ''},
	    	{Name: 'mg'},
	    	{Name: 'g'},
	    	{Name: 'kg'},
	    	{Name: 'ml'},
	    	{Name: 'l'},
	    	{Name: 'kl'},
	    	{Name: 'pincée(s)'},
	    	{Name: 'cuillère(s) à soupe'},
	    	{Name: 'cuillère(s) à café'}
	    ]
	 
	    $("#jsGrid-recette").jsGrid({
	        width: "100%",
	        height: "auto",
	        inserting: true,
	        editing: true,
	        sorting: true,
	        paging: true,
	        editButton:true,
	        data: recettes,
	 
	        fields: [
	        	{ type: "control"},
	            { name: "titre", type: "text", width: 200, validate: "required"},
	            { name: "source", type: "text", width: 150},
	            { name: "specialite", type: "select", items: specialite, valueField: "Name", textField: "Name" , width: 200},
	            { name: "nbPersonne", type: "number", width: 150, validate: { validator: "range", param: [1, 50]}},
	            { name: "difficulte", type: "select", width: 150, items: difficultes, valueField: "Name", textField: "Name", validate: "required"},
	            { name: "tempsCuisson", type: "number", width: 150, validate: { validator: "range", param: [0, 150]}},
	            { name: "tempsPreparation", type: "number", width: 150, validate: { validator: "range", param: [1, 150]}},
	            { name: "pays", type: "text", width: 150},
	            { name: "saison", type: "select", items: saisons, valueField: "Name", textField: "Name", width: 150},
	            { name: "description", type: "textarea", width: 150, validate: "required"},
	            { name: "type", type: "select", items: type, valueField: "Name", textField: "Name" , width: 150},
	            { itemTemplate: function(_, item) {
                    return $("<button>").text("Ajout des ingrédients")
                    	.on("click", function() {
                    		$("#container_ingredients").show();
                    		$("#jsGrid-ingredient").jsGrid("destroy");
                    		var titre = item.titre;
                    		if(!addIngredient[titre]){ addIngredient[titre] = []; }
                        	modifIngredient(titre);
						});
              	}, width: 200},
              	{ itemTemplate: function(_, item) {
                    return $("<button>").text("Ajout des sections et des étapes")
                    	.on("click", function() {
							var titre = item.titre;
							$("#validation").attr("value", titre);
                    		if ( !addSectionStep[titre] ) {
                    			addSectionStep[titre] = [];
                    			modifSectionStep(titre);
                    		}
                    		else {
                    			getPreviousSectionStep(titre);
                    		}
						});
              	}, width: 200}
	        ]
	    });

	    $("#insertion").click(function() {
	    	var ingredientsTemp = [];
	    	var sectionstepTemp = [];
	    	for ( var key in addIngredient ) {
			  	ingredientsTemp.push(addIngredient[key]);
			}
			for ( var key in addSectionStep ) {
				sectionstepTemp.push(addSectionStep[key]);
			}
	    	var data = { 
				recettes:JSON.stringify(recettes),
				ingredients:JSON.stringify(ingredientsTemp),
				sectionstep:JSON.stringify(sectionstepTemp)
			};
	    	$.ajax({
            dataType: "json",
            type: 'post',
            url: "{{ path('meal_square_recette_import')}}",
            data: data,
            success: function(msg) {
            	if(msg){
        			console.log(msg);
        		}
            	else
            		{console.log("ERREUR");}
        		},
        	error: function(){
        		console.log("error");
        	}
	    	});
	    });
		
		function modifIngredient(titreRecette){
			$("#jsGrid-ingredient").jsGrid({
		        width: "100%",
		        height: "auto",
		        inserting: true,
		        editing: true,
		        sorting: true,
		        paging: true,
		        editButton:true,

		        onItemInserted: function(item){
		        	item.item["recette"] = titreRecette;
		        },

		        data: addIngredient[titreRecette],
		 
		        fields: [
		        	{ type: "control"},
		        	{ name: "ingredient", type: "select", items: ingredientField, valueField: "Name", textField: "Name" , width: 200},
		        	{ name: "quantité", type:"number", width: 200, validate: { validator: "range", param: [1, 1000]}},
		        	{ name: "mesure", type: "select", items: mesure, valueField: "Name", textField: "Name" , width: 200}
		        ]
		    });
		}

        $("#add-section").click(function() {
            $("#section_step").append($("<li class=\"section\" data-section-name=\"Nom de la section\"><input class=\"edit-section\" type=\"text\" style=\"width:500px !important;\" value=\"Nom de la section\" title=\"Renommer la section\"/> <a class=\"button remove-section\">-</a><ol></ol></li>"));
        });
        $("#add-step").click(function() {
            $("#section_step").append($("<li class=\"step\" data-step-name=\"Nom de l'étape\"><input class=\"edit-step\" type=\"text\" style=\"width:500px !important;\" value=\"Nom de l'étape\" title=\"Renommer l'étape\"/> <a class=\"button remove-step\">-</a></li>"));
        });

        $(document).on("click", ".remove-step, .remove-section", function() {
            $(this).parent().remove();
        });
        $(document).on("keyup", ".edit-section", function() {
            $(this).parent().attr("data-section-name", $(this).val());
        });
        $(document).on("keyup", ".edit-step", function() {
            $(this).parent().attr("data-step-name", $(this).val());
        });

		function modifSectionStep(titreRecette) {
			$("#container_section_step").show();
		}
	    
	    function getPreviousSectionStep(titreRecette) {
	    	$("#section_step").html("");
	    	$("#container_section_step").show();
	    	var values = addSectionStep[titreRecette];
	    	values = JSON.parse(values);
			for(var i = 0; i < values[0].length; i++) {
				var sectionStep = values[0][i];
		        if (sectionStep.sectionName) {
		            $("#section_step").append("<li class=\"section\" data-section-name=\"" + sectionStep.sectionName + "\"><input class=\"edit-section\" type=\"text\" style=\"width:500px !important;\" value=\"" + sectionStep.sectionName + "\" title=\"Renommer la section\"/> <a class=\"button remove-section\">-</a><ol id=\"step_list"+i+"\">");
		                    jQuery.each(sectionStep, function(key, value) {
		                    	if(key == "children") {
		                    		for(var j = 0; j < value[0].length; j++) {
		                    			var step = value[0][j];
				                    	jQuery.each(step, function(k, v) {
				                    		if(k == "stepName") {
					                            if (v) {
					                                $("#step_list"+i).append("<li class=\"step\" data-step-name=\"" + v + "\"><input class=\"edit-step\" type=\"text\" style=\"width:500px !important;\" value=\"" + v + "\" title=\"Renommer l'étape\"/> <a class=\"button remove-step\">-</a></li>");
					                            }
					                        }
				                        });
				                    }
			                    }
		                    });
		                $("#section_step").append("</ol>");
		            $("#section_step").append("</li>");
		        }
		        else {
		            $("#section_step").append("<li class=\"step\" data-step-name=\"" + sectionStep.stepName + "\"><input class=\"edit-step\" type=\"text\" style=\"width:500px !important;\" value=\"" + sectionStep.stepName + "\" title=\"Renommer l'étape\"/> <a class=\"button remove-step\">-</a></li>");
		        }
		    }

	    }

    	$("#validation").click(function() {
    		var group = $("ol.sortable");
            var data = group.sortable("serialize").get();
            var jsonString = JSON.stringify(data, null, ' ');

            addSectionStep[$("#validation").attr("value")] = jsonString;
    	});
    </script>
{% endblock %}