{# empty Twig template #}
{% extends "MealSquareCommonBundle::layout.html.twig" %}


{% block title %}
    {{ 'common.menu.recettes'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <main class="main" role="main">
        <div class="wrap clearfix">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="{{path('meal_square_common_homepage')}}" title="{{ 'common.menu.home'|trans }}">{{ 'common.menu.home'|trans }}</a></li>
                    <li>{{ 'common.menu.recettes'|trans }}</li>
                </ul>
            </nav>
	        <div class="row">
	        	<header class="s-title">
	                <h2 class="ribbon bright">
	                    {{ 'recettes.import'|trans }}
	                </h2>
	                <main class="cd-main-content">
		                <h2 class="ribbon bright">
		                    {{ 'recettes.import_recipe_detail'|trans }}
		                </h2>
	                    <div id="jsGrid-recette"></div>
	                	<div id="insertion" class="button white medium">{{ 'recettes.import_insertion'|trans }}</div>
	                	<div id="jsGrid-ingredient"></div>
	                </main>
	            </header>
	        </div>
	    </div>
    </main>
{% endblock %}
{% block script %}
    <script charset="UTF-8"> 
        new WOW().init();

        var recettes = [];

        var ingredients = [];

        var addIngredient = [];

       	var ingredientsListe = "{{ ingredients|join(',') }}".split(",");
	    var ingredientField = [];
	    for(var i=0;i<ingredientsListe.length-1;i++){
			ingredientField[i] = { Name: ingredientsListe[i]};
	    }

	    var saisons = [
	    	{ Name: "Printemps"},
	    	{ Name: "Été"},
	    	{ Name: "Automne"},
	    	{ Name: "Hiver"}
	    ];

	    var difficultes = [
	    	{ Name: "Très facile"},
	    	{ Name: "Facile"},
	    	{ Name: "Moyen"},
	    	{ Name: "Difficile"},
	    	{ Name: "Délicat"}
	    ];

	    var specialite = [
	    	{Name: 'Saint-Valentin'},
	    	{Name: 'Recettes anglo-saxonne'},
	    	{Name: 'Chic et facile'},
	    	{Name: 'Recettes méditerranéennes'},
	    	{Name: 'Spécialités antillaises'},
	    	{Name: 'Exotique'},
	    	{Name: 'Recettes de Chef'},
	    	{Name: 'Pâques'},
	    	{Name: 'Provence'},
	    	{Name: 'Orientale'},
	    	{Name: 'Repas de fête'},
	    	{Name: 'Cuisine légère'},
	    	{Name: 'Cuisine rapide'},
	    	{Name: 'Mardi Gras'},
	    	{Name: 'Asie'},
	    	{Name: 'Nordique'},
	    	{Name: 'Bretagne'},
	    	{Name: 'Sud-ouest'},
	    	{Name: 'Spécialités ibériques'},
	    	{Name: 'Normandie'},
	    	{Name: 'Thanksgiving'},
	    	{Name: 'Auvergne'},
	    	{Name: 'Halloween'},
	    	{Name: 'Recettes américaines'},
	    	{Name: 'Pentecôte'}
	    ];

	    var type = [
	    	{Name: 'Dessert'},
	    	{Name: 'Végétarien'},
	    	{Name: 'Enfant'},
	    	{Name: 'Salade'}
	    ];

	    var mesure = [
	    	{Name: ''},
	    	{Name: 'mg'},
	    	{Name: 'g'},
	    	{Name: 'kg'},
	    	{Name: 'ml'},
	    	{Name: 'l'},
	    	{Name: 'kl'},
	    	{Name: 'pincée(s)'},
	    	{Name: 'cuillère(s) à soupe'},
	    	{Name: 'cuillère(s) à café'}
	    ]
	 
	    $("#jsGrid-recette").jsGrid({
	        width: "100%",
	        height: "auto",
	 
	        inserting: true,
	        editing: true,
	        sorting: true,
	        paging: true,
	 		
	        editButton:true,

	        data: recettes,
	 
	        fields: [
	            { name: "image_id", type: "text", width: 100},
	            { name: "titre", type: "text", width: 200, validate: "required"},
	            { name: "source", type: "text", width: 150},
	            { name: "specialite", type: "select", items: specialite, valueField: "Name", textField: "Name" , width: 200},
	            { name: "nbPersonne", type: "number", width: 150, validate: { validator: "range", param: [1, 50]}},
	            { name: "difficulte", type: "select", width: 150, items: difficultes, valueField: "Name", textField: "Name", validate: "required"},
	            { name: "tempsCuisson", type: "number", width: 150, validate: { validator: "range", param: [0, 150]}},
	            { name: "tempsPreparation", type: "number", width: 150, validate: { validator: "range", param: [1, 150]}},
	            { name: "pays", type: "text", width: 150},
	            { name: "saison", type: "select", items: saisons, valueField: "Name", textField: "Name", width: 150},
	            { name: "description", type: "textarea", width: 150, validate: "required"},
	            { name: "type", type: "select", items: type, valueField: "Name", textField: "Name" , width: 150},
	            { itemTemplate: function(_, item) {
                    return $("<button>").text("Ajout des ingrédients")
                    	.on("click", function() {
                    		$("#jsGrid-ingredient").jsGrid("destroy");
	                    		var titre = item.titre;
	                    		if(!addIngredient[titre]){addIngredient[titre] = [];}
	                        	modifIngredient(titre);
							});
              	}, width: 200},
	            { type: "control"}
	        ]
	    });

	    $("#insertion").click(function() {
	    	var ingredientsTemp = [];
	    	for (var key in addIngredient) {
			  	ingredientsTemp.push(addIngredient[key]);
			}	
	    	var data = { 
	    					recettes:JSON.stringify(recettes),
	    					ingredients:JSON.stringify(ingredientsTemp)
	    				};
	    	$.ajax({
            dataType: "json",
            type: 'post',
            url: "{{ path('meal_square_recette_import')}}",
            data: data,
            success: function(msg) {
            	if(msg){
        			console.log(msg);
        		}
            	else
            		{console.log("ERREUR");}
        		},
        	error: function(){
        		console.log("error");
        	}
	    	});
	    });
		
		function modifIngredient(titreRecette){
			$("#jsGrid-ingredient").jsGrid({
		        width: "100%",
		        height: "auto",
		 
		        inserting: true,
		        editing: true,
		        sorting: true,
		        paging: true,
		 		
		        editButton:true,

		        onItemInserted: function(item){
		        	item.item["recette"] = titreRecette;
		        },

		        data: addIngredient[titreRecette],
		 
		        fields: [
		        	{ name: "ingredient", type: "select", items: ingredientField, valueField: "Name", textField: "Name" , width: 200},
		        	{ name: "quantité", type:"number", width: 200, validate: { validator: "range", param: [1, 1000]}},
		        	{ name: "mesure", type: "select", items: mesure, valueField: "Name", textField: "Name" , width: 200},
		        	{ type: "control"}
		        ]
		    	});
		}    
	    

    </script>
{% endblock %}