<div class="cd-tab-filter-wrapper">
    <div class="cd-tab-filter">
        <ul class="cd-filters">
            <li class="placeholder"> 
                <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
            </li> 
            <li class="filter"><a class="selected" href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'A'}) }}" data-type="sortedLikeA">a</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'B'}) }}" data-type="sortedLikeB">b</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'C'}) }}" data-type="sortedLikeC">c</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'D'}) }}" data-type="sortedLikeD">d</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'E'}) }}" data-type="sortedLikeE">e</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'F'}) }}" data-type="sortedLikeF">f</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'G'}) }}" data-type="sortedLikeG">g</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'H'}) }}" data-type="sortedLikeH">h</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'I'}) }}" data-type="sortedLikeI">i</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'J'}) }}" data-type="sortedLikeJ">j</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'K'}) }}" data-type="sortedLikeK">k</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'L'}) }}" data-type="sortedLikeL">l</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'M'}) }}" data-type="sortedLikeM">m</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'N'}) }}" data-type="sortedLikeN">n</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'O'}) }}" data-type="sortedLikeO">o</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'P'}) }}" data-type="sortedLikeP">p</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'Q'}) }}" data-type="sortedLikeQ">q</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'R'}) }}" data-type="sortedLikeR">r</a></li>
        </ul>
    </div>
    <div class="cd-tab-filter">
        <ul class="cd-filters">
            <li class="placeholder"> 
                <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
            </li> 
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'S'}) }}" data-type="sortedLikeS">s</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'T'}) }}" data-type="sortedLikeT">t</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'U'}) }}" data-type="sortedLikeU">u</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'V'}) }}" data-type="sortedLikeV">v</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'W'}) }}" data-type="sortedLikeW">w</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'X'}) }}" data-type="sortedLikeX">x</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'Y'}) }}" data-type="sortedLikeY">y</a></li>
            <li class="filter"><a href="{{ path('meal_square_recette_ingredient_list_filterable', {'sorted':'Z'}) }}" data-type="sortedLikeZ">z</a></li>
        </ul>
    </div>
</div>